passwordPrompt   Enter Bart's surname:
password   
default_language   gb
date_format   %d/%m/%Y
<data_source>
    type   excel
    <config>
        photo_url   /pictures/
        file_name   mishin_family.xls
        photo_dir   c:/Users/TOSH/Documents/GitHub/Ftree-cpan/htdocs/pictures/
    </config>
</data_source>
css_filename   ../css/bodon_default.css
adminEmail   bodon@cs.bme.hu
sitemeter_id   s22bodonangol
sitemeter_needed   1
adminHomepage   http://www.cs.bme.hu/~bodon
adminName   Ferenc Bodon
passwordReq   
